
# Documents
docs_private/

# VS Code


# Build and output directories
build/
build-*/
outdir/
outdir-*/
Debug/


# Zephyr-specific build artifacts


# Python virtual environments
venv/
.venv/

# IDE and editor configurations
.vscode/
.idea/
*.launch
*.project
*.cproject
*.settings/
*.envrc
*.clangd
*.DS_Store