&i2c2{
    status="okay";
    clock-frequency = < 0x61a80 >;
    pinctrl-0 = < &i2c2_scl_pb10 &i2c2_sda_pb11 >;
    pinctrl-names = "default";
};

/ {
	aliases {
		i2c-controller = &i2c1;
		i2c-controller-target = &i2c2;
	};
};